
@{
    ViewData["Title"] = "Links";
}
<div class="text-center">
    <h1 class="display-4">Lana del links</h1>
    <p>these are links and stuff for lana del rey</p>
</div>



<a asp-controller="Source" asp-action="Index">SourceIndex</a>