
@{
    ViewData["Title"] = "History";
}
<div class="text-center">
    <h1 class="display-4">History of lana del rey</h1>
    <p>History of the famous lana del rey, queen of the rivierra.!</p>
</div>



<a asp-controller="Home" asp-action="Index">Home</a>