@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the lana del rey fansite. the best one that ever existed mind you.</h1>
    <p>lana del rey is fabulous</a>.</p>
</div>

<div class="text-center">
    <a asp-controller="Home" asp-action="History">History</a><br />
    <a asp-controller="Home" asp-action="Stories">Stories</a><br />
    <a asp-controller="Home" asp-action="Quiz">Quiz</a>
</div>
