
@{
    ViewData["Title"] = "Stories";
}
<div class="text-center">
    <h1 class="display-4">Stories lana del rey</h1>
    <p>Stories about the famous lana del rey, queen of the rivierra.!</p>
</div>



<a asp-controller="Home" asp-action="Index">Home</a>